<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>503 Self ID Form</title>
    <style type="text/css">
    body {margin-top: 20px;margin-left: 20px;}
    .done {font: 18px 'Arial';}
    </style>
</head>
<body>
<p class="done">
    Thank you. Your answer was recorded.
</p>
</body>
</html>
