<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>503 Self ID Form</title>
<style type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 32px 0px 12px 32px;padding-bottom: 20px;border: 1px solid #000;width: 784px;}
#page_1 #id1_1 {border:none;margin: 11px 0px 0px 16px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 16px 0px 0px 16px;padding: 0px;border:none;width: 713px;overflow: hidden;}
#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 243px;overflow: hidden;}
#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 243px;overflow: hidden;}
#page_1 #id1_2 #id1_2_3 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 227px;overflow: hidden;}
#page_1 #id1_3 {border:none;margin: 20px 0px 0px 16px;padding: 0px;border:none;width: 768px;overflow: hidden;}

.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 1px 'Arial';line-height: 1px;}
.ft1{font: bold 13px 'Arial Black';line-height: 18px;}
.ft2{font: 11px 'Arial';line-height: 13px;}
.ft3{font: 11px 'Arial';line-height: 14px;}
.ft4{font: 13px 'Arial';line-height: 16px;}
.ft5{font: 13px 'Arial';line-height: 14px;}
.ft6{font: 13px 'Arial';text-decoration: underline;color: #0000ff;line-height: 16px;}
.ft7{font: italic 13px 'Arial';line-height: 16px;}
.ft8{font: 15px 'Times New Roman';line-height: 17px;}
.ft9{font: 13px 'Arial';margin-left: 17px;line-height: 16px;}
.ft10{font: 15px 'Times New Roman';line-height: 15px;}
.ft11{font: 13px 'Arial';margin-left: 17px;line-height: 15px;}
.ft12{font: 13px 'Arial';line-height: 15px;}
.ft13{font: 13px 'Times New Roman';line-height: 15px;}
.ft14{font: bold 12px 'MS Gothic';line-height: 12px;}
.ft15{font: 13px 'Arial';margin-left: 34px;line-height: 12px;}
.ft16{font: 13px 'Arial';line-height: 20px;}
.ft17{font: 13px 'Arial';margin-left: 34px;line-height: 16px;}
.ft18{font: bold 15px 'Arial';text-decoration: underline;line-height: 18px;}
.ft19{font: italic 15px 'Arial';line-height: 17px;}
.ft20{font: 15px 'Arial';line-height: 17px;}
.ft21{font: 8px 'Calibri';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: left;padding-left: 121px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 69px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;padding-left: 120px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p33{text-align: left;padding-left: 120px;white-space: nowrap;}
.p4{text-align: left;padding-left: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 53px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 100px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-right: 55px;margin-top: 14px;margin-bottom: 0px;}
.p8{text-align: left;padding-right: 48px;margin-top: 12px;margin-bottom: 0px;}
/*.p9{text-align: left;padding-left: 207px;margin-top: 15px;margin-bottom: 0px;}*/
.p10{text-align: left;padding-right: 54px;margin-top: 19px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 24px;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p14{text-align: justify;padding-left: 24px;padding-right: 44px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
.p15{text-align: left;padding-left: 24px;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p16{text-align: left;padding-left: 24px;padding-right: 15px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p17{text-align: left;padding-left: 24px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p18{text-align: left;padding-left: 222px;margin-top: 0px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 56px;padding-right: 279px;margin-top: 21px;margin-bottom: 0px;text-indent: -48px;}
.p20{text-align: left;padding-left: 8px;margin-top: 1px;margin-bottom: 0px;}
.p21{text-align: justify;padding-right: 52px;margin-top: 16px;margin-bottom: 0px;}
.p22{text-align: left;padding-left: 278px;margin-top: 29px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 79px;margin-top: 21px;margin-bottom: 0px;}
.p24{text-align: left;padding-left: 316px;margin-top: 21px;margin-bottom: 0px;}

input {border-bottom: 1px solid #000; border-top: none; border-left: none; border-right: none;}
input:hover {background-color: #eee};
input[type=text],input[type=date] {width: 100%;}
input[type=checkbox] {border1px solid #000;}

.td0{padding: 0px;margin: 0px;width: 50px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 642px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 91px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 221px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 159px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 262px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 159px;vertical-align: bottom;}
.td77{padding: 0px;margin: 0px;width: 371px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 221px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 201px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 61px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 50px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 642px;vertical-align: bottom;}
.td15{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 49px;vertical-align: bottom;}
.td16{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 641px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 270px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 230px;vertical-align: bottom;}

.tr0{height: 22px;}
.tr1{height: 13px;}
.tr2{height: 14px;}
.tr3{height: 26px;}
.tr4{height: 15px;}
.tr5{height: 18px;}
.tr6{height: 20px;}

.t0{width: 733px;font: 11px 'Arial';}
.t1{width: 500px;margin-left: 100px;margin-top: 3px;font: 15px 'Arial';}

.rederror { color: red; }

</style>
</head>

<body>
<DIV id="page_1">

<DIV class="dclr"></DIV>

<form method="post">
{{if .ErrMsg }}
<div class="rederror">{{ .ErrMsg }}</div>
{{end}}
<DIV id="id1_1">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr0 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD colspan=4 class="tr0 td2"><P class="p1 ft1">Voluntary <NOBR>Self-Identification</NOBR> of Disability</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr1 td3"><P class="p0 ft2">Form <NOBR>CC-305</NOBR></P></TD>
	<TD class="tr1 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p0 ft0">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td6"><P class="p2 ft2">OMB Control Number <NOBR>1250-0005</NOBR></P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr2 td3"><P class="p0 ft3">Page 1 of 1</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p0 ft0">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td6"><P class="p2 ft3">Expires 05/31/2023</P></TD>
</TR>
<TR>
	<td colspan="2" class="tr3 td3"><P class="p0 ft4">Name:</P></td>
	<td class="tr3 td4"><input type="text" id="name" name="name" value="{{ .User.FirstName }} {{ .User.LastName }}" readonly></td>
	<td>&nbsp;</td>
	<td class="tr3 td0" style=""><p class="p3 ft4">Date:</p></td>
	<td class="tr3 td77"><input type="text" id="date" name="date" value="{{ .Today }}" readonly></td>
</TR>
<TR>
	<TD class="tr4 td0"><P class="p0 ft3">Employee</P></TD>
	<TD class="tr2 td8"><P class="p4 ft5">ID:</P></TD>
	<TD class="tr1 td9"><P class="p0 ft0"><input type="text" id="id" name="id" value="{{ .User.ID }}" readonly></P></TD>
	<TD class="tr4 td5"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td10"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr4 td11"><P class="p0 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr5 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr5 td4"><P class="p5 ft4">(if applicable)</P></TD>
	<TD colspan=3 class="tr5 td7"><P class="p0 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td12"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td13"><P class="p0 ft0">&nbsp;</P></TD>
	<TD colspan=4 class="tr2 td14"><P class="p0 ft0">&nbsp;</P></TD>
</TR>
</TABLE>
<table style="width:96%; margin-top: 10px;">
<tr>
	<td class="tr6" style="border-style:double; text-align: center;"><P class="ft1" style="margin: 0px;">Why are you being asked to complete this form?</P></td>
</tr>
</table>

<P class="p7 ft4">We are a federal contractor or subcontractor required by law to provide equal employment opportunity to qualified people with disabilities. We are also required to measure our progress toward having at least 7% of our workforce be individuals with disabilities. To do this, we must ask applicants and employees if they have a disability or have ever had a disability. Because a person may become disabled at any time, we ask all of our employees to update their information at least every five years.</P>
<P class="p8 ft4">Identifying yourself as an individual with a disability is voluntary, and we hope that you will choose to do so. Your answer will be maintained confidentially and not be seen by selecting officials or anyone else involved in making personnel decisions. Completing the form will not negatively impact you in any way, regardless of whether you have <NOBR>self-identified</NOBR> in the past. For more information about this form or the equal employment obligations of federal contractors under Section 503 of the Rehabilitation Act, visit the U.S. Department of Labor’s Office of Federal Contract Compliance Programs (OFCCP) website at <A href="https://www.dol.gov/agencies/ofccp"><SPAN class="ft6">www.dol.gov/ofccp</SPAN></A><A href="https://www.dol.gov/agencies/ofccp">.</A></P>

<table style="width:96%; margin-top: 10px;">
<tr>
	<td class="tr6" style="border-style:double; text-align: center;"><P class="ft1" style="margin: 0px;">How do you know if you have a disability?</P></td>
</tr>
</table>
<P class="p10 ft4">You are considered to have a disability if you have a physical or mental impairment or medical condition that substantially limits a major life activity, or if you have a history or record of such an impairment or medical condition. <SPAN class="ft7">Disabilities</SPAN></P>
<P class="p11 ft7">include, but are not limited to:</P>
</DIV>
<DIV id="id1_2">
<DIV id="id1_2_1">
<P class="p12 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Autism</SPAN></P>
<P class="p13 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Autoimmune disorder, for example, lupus, fibromyalgia, rheumatoid arthritis, or HIV/AIDS</SPAN></P>
<P class="p12 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Blind or low vision</SPAN></P>
<P class="p12 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Cancer</SPAN></P>
<P class="p11 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Cardiovascular or heart disease</SPAN></P>
<P class="p12 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Celiac disease</SPAN></P>
<P class="p11 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Cerebral palsy</SPAN></P>
</DIV>
<DIV id="id1_2_2">
<P class="p12 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Deaf or hard of hearing</SPAN></P>
<P class="p12 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Depression or anxiety</SPAN></P>
<P class="p11 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Diabetes</SPAN></P>
<P class="p12 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Epilepsy</SPAN></P>
<P class="p14 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Gastrointestinal disorders, for example, Crohn's Disease, or irritable bowel syndrome</SPAN></P>
<P class="p12 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Intellectual disability</SPAN></P>
</DIV>
<DIV id="id1_2_3">
<P class="p15 ft4"><SPAN class="ft8">•</SPAN><SPAN class="ft9">Missing limbs or partially missing limbs</SPAN></P>
<P class="p16 ft12"><SPAN class="ft10">•</SPAN><SPAN class="ft11">Nervous system condition for example, migraine headaches, Parkinson’s disease, or Multiple sclerosis (MS)</SPAN></P>
<P class="p17 ft4"><SPAN class="ft13">•</SPAN><SPAN class="ft9">Psychiatric condition, for example, bipolar disorder, schizophrenia, PTSD, or major depression</SPAN></P>
</DIV>
</DIV>
<DIV id="id1_3">
<table style="width:96%; margin-top: 10px;">
<tr>
	<td class="tr6" style="border-style:double; text-align: center;"><P class="ft1" style="margin: 0px;">Please check one of the boxes below:</P></td>
</tr>
</table>
<P class="p20 ft16"><SPAN class="ft15"><input type="checkbox" id="choice" name="choice" value="y">&nbsp;Yes,
  I Have A Disability, Or Have A History/Record Of Having A Disability</span></p>
<P class="p20 ft4"><span class="ft15"><input type="checkbox" id="choice" name="choice" value="n">&nbsp; No,
  I Don’t Have A Disability, Or A History/Record Of Having A Disability</span></p>
<P class="p20 ft4"><span class="ft15"><input type="checkbox" id="choice" name="choice" value="x">&nbsp; I Don’t Wish To Answer</span></P>

<P class="p21 ft4">PUBLIC BURDEN STATEMENT: According to the Paperwork Reduction Act of 1995 no persons are required to respond to a collection of information unless such collection displays a valid OMB control number. This survey should take about 5 minutes to complete.</P>

<div style="text-align:center; width:800px; margin:0 auto;">
	<button name="submit" style="font-size: large;">Submit</button>
</div>

<div style="margin: 20px 20px 0 20px; border: 1px solid #000; padding: 10px;">
<P class="p22 ft18">For Employer Use Only</P>
<P class="p23 ft19">Employers may modify this section of the form as needed for recordkeeping purposes.</P>
<P class="p24 ft19">For example:</P>

<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
  <TD class="tr6 td17"><P class="p0 ft20">Job Title: <input type="text" readonly value="{{ .User.JobTitle }}"></P></TD>
	<TD class="tr6 td18"><P class="p0 ft20">Date of Hire: <input type="text" readonly value="{{ .User.HireDate }}"></P></TD>
</TR>
</TABLE>
</div>
</DIV>
	</form>
</DIV>
<script type="text/javascript">

  function unsetTheOthers(event) {
    //console.log(event.target);
    checkboxes.forEach(function(element) {
      if (event.target !== element) {
        element.checked = false;
      }
    });
  }

  const inputs = document.getElementsByTagName('input'),
    checkboxes = [];
  for (let i = 0; i < inputs.length; i++ ) {
    const elem = inputs.item(i);
    if (elem.type === 'checkbox') {
      checkboxes.push(elem);
      elem.addEventListener('change', unsetTheOthers);
    }
  }

</script>
</body>
</html>
